.posts__title{
    letter-spacing: 0.15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 26px;
    text-align: left;
}
.posts__title:nth-child(1){
    flex: 0 1 842px;
}
.posts__title:nth-child(2){
    flex: 0 1 362px;
}
