.header__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 202px;
    margin-left: 28%;
    padding: 24px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}
